@import "mixins";
@import "vars";

.content-wrapper {
	width: 100%;
	max-width: 1800px;
	margin: 0 auto;
}

	.sidepad {
		padding: 0 5%;
	}

	.no-top-pad {
		padding-top: 0 !important;
	}

	.no-pad {
		padding: 0 !important;
	}

.secondary {
	font-family: $headline-font;
	font-size: 1.1em;
	color: $darkblue;
}

.hero {
	width: 100%;
	background-color: $darkblue;
	@include divshadow;
	background-size: cover;
	background-position: center center;
}

		.hero-contact {
			background-position: top right;
		}

		.hero-studio {
			background-position: top;
		}

	.hero-video {
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: red;

		video {
			width: 100%;
			height: auto;
		}
	}

	.hero-overlay {
		width: 100%;
		height: 100%;
		position: relative;
		background-image: url('assets/images/hero-overlay.png');
		background-color: rgba($darkblue, .65);
		background-size: cover;
		background-position: center center;
	}

	.hero-content {
		width: 100%;
		margin-top: 8em;
		background: linear-gradient(to right, $white 50%, transparent 36%);

		h1{
			font-size: 2em;
			font-weight: bold;
			margin-bottom: .75em;
			text-transform: uppercase;
			font-family: $headline-font;

			span {
				font-family: 'headlinefont-it';
			}
		}

		p {
			line-height: 1.25;
			margin-bottom: .5em;
			text-align: justify;
		}

		p:last-of-type {
			margin-bottom: 0em;
		}
	}

		.hero-col-content-one {
			width: 12%;
			background-color: $white;
			overflow: visible;
			position: relative;
		}

		.hero-col-content-two {
			width: 50.25%;
			background-color: $white;
			padding: 3em 0;
			position: relative;

			&:after {
				content: "";
				position: absolute;
				width: 3em;
				right: -3em;
				top: 0;
				bottom: 0;
				background-color: inherit;
			}
		}

			.hero-burst {
				position: absolute;
				left: -15em;
				top: -2em;
				background-image: url('assets/images/hero-content-bg.png');
				background-size: cover;
				width: 14em;
				height: 14em;
				z-index: 8000;
			}

			.hero-snipe {
				position: absolute;
				left: -6em;
				top: 3.5em;
				height: 4em;
				width: 4em;
				background-size: auto 100%;
				background-repeat: no-repeat;
				background-position: left;
				z-index: 8500;
			}

			.landing-bars {
				position: absolute;
				left: 0;
				top: 1em;

				img {
					height: 1.5em;
				}
			}

		.hero-underbar {
			width: 100%;
			height: 2em;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -2em;
			background: linear-gradient(to right, $white 50%, transparent 36%);
		}

			.hero-underbar-color {
				width: 61%;
				height: 2em;
				background-color: $white;
				position: relative;

				&:after {
					content: "";
					position: absolute;
					width: 3em;
					right: -3em;
					top: 0;
					bottom: 0;
					background-color: inherit;
				}
			}

				.hero-transparent {

					.hero-content {
						background: none;
					}

					.hero-col-content-one {
						background-color: transparent;
					}

					.hero-col-content-two {
						background-color: transparent;
						color: $white;
						@include texthaze($black);
					}

					.hero-underbar {
						background: none;
					}

					.hero-underbar-color {
						background-color: transparent;
					}

				}	

	.doubleside {
		width: 100%;
		background: linear-gradient(to left, $blue 39%, transparent 36%); 
	}

		.col-content {
			width: 100%;
			height: auto;
			padding: 0 5%;
			display: flex;
		}

			.col-content-one{
				width: 12%;
				float: left;
				position: relative;
				padding-top: 4em;

				span {
					font-family: $headline-font;
					font-size: 3em;
					line-height: .65;
					color: $blue;
					color: rgba($darkblue, .5);
				}
			}

				.col-content-one-ad {
					width: 100%;
					background-color: $white;
					margin-top: 2em;
					padding: 2em;
					@include rounded(.25em);

					.secondary {
						display: inline-block;
						margin-bottom: .75em;
					}

					a {
						width: 100%;
						text-align: center;
						padding: .25em;
						display: inline-block;
						@include divshadow;
						border: 1px solid $orange;
						text-decoration: none;
						font-weight: bold;
						text-transform: lowercase;
					}

					a:first-of-type {
						margin-top: 1em;
						color: $orange;
					}

					a:last-of-type {
						margin-top: .5em;
						background-color: $orange;
						color: $white;
					}
				}

				.col-content-burst-snipe {
					position: absolute;
					left: -8em;
					top: -6em;
					background-image: url('assets/images/hero-content-bg.png');
					background-size: contain;
					width: 14em;
					height: 14em;
					z-index: -1;
				}

			.col-content-two {
				width: 50.25%;
				padding-right: 7.5%;
				padding-top: 4em;
				float: left;
			}

			.col-content-three {
				width: 37.75%;
				padding-top: 4em;
				padding-left: 5%;
				float: left;
				background-color: $blue;
			}

				.col-content-two,
				.col-content-three {
					padding-bottom: 4em;

					.header {
						font-family: $headline-font;
						font-size: 1.5em;
						text-transform: uppercase;
						display: inline-block;
						padding-bottom: .5em;
						margin-bottom: 1em;
						border-bottom: 1px solid $black;
					}

					p {
						margin-bottom: 1.5em;
					}

					p:last-of-type {
						margin-bottom: 0;
					}
				}

					.col-content-three {
						.header {
							color: $lightblue;
							border-color: $lightblue;
						}
					}

			.col-post-wrapper {
				width: 100%;
				display: flex;
				margin-bottom: 2em;
			}

				.col-post-date {
					margin-right: 2em;
				}

					.col-post-date-wrapper {
						border: 1px solid $lightblue;
						border-radius: .25em;
						font-family: monospace;
					}

						.col-post-date-top {
							-webkit-border-top-left-radius: .25em;
							-webkit-border-top-right-radius: .25em;
							-moz-border-radius-topleft: .25em;
							-moz-border-radius-topright: .25em;
							border-top-left-radius: .25em;
							border-top-right-radius: .25em;
						}

						.col-post-date-mid {
							padding: .35em .5em;
							font-size: 1.25em;
							color: $lightblue;
							text-align: center;
						}

						.col-post-date-bottom {
							text-align: center;
							-webkit-border-bottom-right-radius: .25em;
							-webkit-border-bottom-left-radius: .25em;
							-moz-border-radius-bottomright: .25em;
							-moz-border-radius-bottomleft: .25em;
							border-bottom-right-radius: .25em;
							border-bottom-left-radius: .25em;
						}

							.col-post-date-top,
							.col-post-date-bottom {
								text-align: center;
								background-color: $lightblue;
								font-size: .75em;
								padding: .15em 0;
								color: $blue;
								text-transform: lowercase;
								font-variant: small-caps;

							}

				.col-post-content {
					flex: 1;

					img {
						display: none;
					}

					a {
						text-decoration: none;
					}

					a:first-of-type {
						font-weight: bold;
						text-decoration: underline;
					}

					a:last-of-type {
						font-weight: bold;
					}
				}

	.front-right-pic {
		background-image: url('assets/images/stripe.png');
		position: relative;
		padding: 0;
		overflow-x: visible;
	}

		.front-right-pic-inner {
			width: 115%;
			height: 100%;
			background-image: url('assets/images/front-right-pic-inner.jpg');
			background-size: cover;
		}

			.front-right-pic-inner-overlay {
				width: 100%;
				height: 100%;
				background-color: rgba($blue, .25);
			}

	.front-services-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 2em;
	}

		.front-services-cell {
			width: 33%;
			text-align: center;

			&:hover {
				color: orange;
			}
		}

			.front-services-icon {
				width: 100%;
				height: 4em;
				margin-bottom: 1em;
				background-size: auto 200%;
				background-repeat: no-repeat;
				background-position: center top;
			}

			.front-services-recording {
				background-image: url('assets/images/front-services-recording.png');
			}

			.front-services-mixing {
				background-image: url('assets/images/front-services-mixing.png');
			}

			.front-services-consulting {
				background-image: url('assets/images/front-services-consulting.png');
			}

			.front-services-pics {
				background-image: url('assets/images/front-services-pics.png');
			}

			.front-services-gear {
				background-image: url('assets/images/front-services-gear.png');
			}

			.front-services-blog {
				background-image: url('assets/images/front-services-blog.png');
			}

			.front-services-cell {
				&:hover {
					.front-services-icon {
						background-position: center bottom;
					}

					.noline {
						text-decoration: underline;
					}
				}
			}

.studio-wrapper {
	width: 100%;
	padding: 4em 0 3em 0;
}

	.studio-padding {
		padding-left: 16%;
		padding-right: 16%;
	}

	.studio-pic-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

		.studio-pic {
			width: 32%;
			height: 12em;
			background-color: rgba($darkblue, .25);
			margin-bottom: 1em;
			margin-bottom: 1.5vw;
			@include rounded(.25em);
			background-size: cover;
			background-position: center center;
		}

		$studio-pic: 8;
		@while $studio-pic > 0 {
							
			.studio-pic-#{$studio-pic}{
				background-image: url('assets/images/studio-pic-#{$studio-pic}.jpg');
			}

			$studio-pic: $studio-pic - 1;
		}

			.studio-pic-overlay {
				width: 100%;
				height: 100%;
				position: relative;
				@include rounded(.25em);
				background-image: url('assets/images/stripe.png');
				background-color: rgba($blue, .2);
				cursor: zoom-in;

				&:hover {
					background-color: rgba($blue, .05);
					@include fader;
				}
			}

				.studio-pic-icon {
					width: .75em;
					height: .75em;
					position: absolute;
					right: 1em;
					top: 1em;
					background-image: url('assets/images/studio-pic-icon.png');
					background-size: contain;
					background-repeat: no-repeat;
				}

				.studio-pic-title {
					position: absolute;
					left: 1em;
					bottom: 1em;
					color: $white;
					@include texthaze($black);
					font-family: $headline-font;
				}

					.studio-pic-text {
						display: table;
					}

					.studio-pic-overlay-text {
						display: table-cell;
						vertical-align: middle;
					}

					.studio-pic-text,
					.studio-pic-overlay-text {
						background-color: transparent;
						background-image: none;
						cursor: auto;

						&:hover {
							 background-color: transparent;
						}
					}

	.studio-map-wrap {
		width: 100%;

		.secondary {
			display: inline-block;
			margin-bottom: .75em;
		}
	}

.gearlist-ul {
	margin: .75em 0 2em 0;
	list-style: none;

	li:before {
    content: '\25A0';
    display: block;
    position: relative;
    max-width: 0px;
    max-height: 0px;
    left: -1em;
    top: .1em;
    color: silver;
    font-size: .75em;
  }
}

.blog-card-container {
	width: 100%;
	padding: 7em 16% 4em 16%;
}

	.blog-card {
		width: 100%;
		display: flex;
		background-color: $white;
		@include divshadow(lighten($grey, 30%));
		margin-bottom: 5em;
	}

		.blog-card-left {
			width: 53%;
		}

			.blog-card-left-inner {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				padding: 0 0 1.5em 1.5em;
			}

				.blog-card-image-container {
					flex: 1;
					position: relative;
					box-shadow: 10px 10px 50px 0px rgba($black,0.75);
					@include rounded(.25em);
				}

					.blog-card-image {
						width: 100%;
						height: 100%;
						height: calc(100% + 2em);
						position: absolute;
						left: 0;
						right: 0;
						top: -2em;
						background-color: cyan;
						@include rounded(.25em);
						background-size: cover;
						background-position: center center;

						&:after {
							content: "";
							position: absolute;
							top: 1em;
							left: 1em;
							width: 100%;
							height: 1em;
							background-image: url('assets/images/nav-logo.png');
							background-size: auto 100%;
							background-position: left;
							background-repeat: no-repeat;
							opacity: 0.5;
						}
					}

						.blog-card-image-overlay {
							width: 100%;
							height: 100%;
							background-color: rgba($blue, .35);
						}

				.blog-card-date {
					padding-top: .5em;
					font-size: 2em;
					font-family: $headline-font;
					text-transform: uppercase;
					color: $blue;
					opacity: .5;
					line-height: .9;
				}

		.blog-card-right {
			flex: 1;
			padding: 1.5em 1.5em 1.5em 2em;

			.title {
				display: inline-block;
				font-size: 1.5em;
				font-family: $headline-font;
				margin-bottom: .25em;
				text-decoration: none;
			}

			em {
				font-size: .9em;
				text-transform: lowercase;
				font-variant: small-caps;
				margin-bottom: 1em;
				padding-bottom: .5em;
				border-bottom: 1px solid $blue;
				color: $blue;
				display: inline-block;
				width: 100%;
			}
		}

			.blog-card-button {
				width: 100%;
				padding: .5em .25em;
				border: 1px solid $orange;
				color: $orange;
				display: inline-block;
				margin-top: 1em;
				text-align: center;

				&:hover {
					background-color: $orange;
					color: $white;
					@include fader;
				}
			}

	.blog-page-links {
		width: 100%;
		
		a {
			padding: .5em 1em;
			background-color: $orange;
			display: inline-block;
			@include divshadow;
			text-decoration: none;

			&:hover {
				color: $white;
				@include fader;
			}
		}

		.older {
			float: right;
		}

		.newer {
			float: left;
		}
	}

.contact-hl-signature {
	width: 100%;
	text-align: right;
	margin-top: 2em;

	span {
		font-size: 2.5em;
		font-family: "cursivefont", cursive;
		line-height: 1;
		display: inline-block;
		margin-bottom: .25em;
	}
}

.contact-wrap {
	width: 100%;
	background-color: $lightblue;

	.col-content-one {
		img {
			height: 1.25em;
			margin-top: .25em;
		}
	}

	.col-content-two {
		.header {
			color: $darkblue;
			border-color: $darkblue;
		}
	}

	input[type="text"],
	input[type="email"],
	textarea {
		width: 100%;
		margin-bottom: .75em;
		border: 0;
		outline: 0;
		padding: .75em .5em;
		box-sizing: border-box;
		background-color: $white;
	}

	input[type="text"] {
		-webkit-border-top-left-radius: .75em;
		-webkit-border-top-right-radius: .75em;
		-moz-border-radius-topleft: .75em;
		-moz-border-radius-topright: .75em;
		border-top-left-radius: .75em;
		border-top-right-radius: .75em;
	}

	textarea {
		height: 6em;
		resize: vertical;
		-webkit-border-bottom-right-radius: .75em;
		-webkit-border-bottom-left-radius: .75em;
		-moz-border-radius-bottomright: .75em;
		-moz-border-radius-bottomleft: .75em;
		border-bottom-right-radius: .75em;
		border-bottom-left-radius: .75em;
	}

	input[type="submit"] {
		width: 50%;
		margin-left: 50%;
		padding: .5em 0;
		border: 0;
		outline: 2px solid $orange;
		color: $orange;
		background-color: $lightblue;
		text-transform: lowercase;
		cursor: pointer;

		&:hover {
			background-color: $orange;
			color: $white;
			@include fader;
		}
	}
}

	.contact-side {
		width: 115%;
		height: 100%;
		background-color: $contactblue;
		background-image: url('assets/images/stripe.png');
	}

	.contact-form-wrapper {
		width: 100%;
	}

.footer-wrap {
	width: 100%;
	background-color: $black;
	color: $footerblue;
	padding: 1.5em 0;
}
	
	.footer-container {
		width: 100%;
		padding: 0 5%;
	}

		.footer-logo {
			width: 12%;
			float: left;

			img {
				height: 2em;
				display: block;
			}
		}

		.footer-left-content {
			font-size: .75em;
			float: left;
			width: 50.25%;
		}

			.footer-copy {
				width: 42.5%;
				float: left;
			}

			.footer-mail {
				width: 57.5%;
				float: left;
			}

		.footer-right-content {
			font-size: .75em;
			float: right;
			width: 37.5%;
			text-align: right;

			span {
				font-style: italic;
			}
		}

.grave {
	width: 100%;
	background-color: darken($black, 5%);
	font-size: .5em;
	color: $black;
	text-align: center;
	padding: .75em 5%;
	font-variant: small-caps;
}





