@import "mixins";
@import "vars";

.content-wrapper {
	width: 100%;
	max-width: 1800px;
	margin: 0 auto;
}

	.sidepad {
		padding: 0 5%;
	}

	.no-top-pad {
		padding-top: 0 !important;
	}

.hero {
	width: 100%;
	background-color: $darkblue;
	@include divshadow;
	background-size: cover;
}

	.hero-overlay {
		width: 100%;
		height: 100%;
		position: relative;
		background-image: url('assets/images/hero-overlay.png');
		background-color: rgba($darkblue, .65);
		background-size: cover;
		background-position: center center;
	}

		.hero-container {
			width: 100%;
			overflow: visible;
			margin-top: 7em;
			background: linear-gradient(to right, $white 64%, transparent 36%); 
			position: relative;
		}

				.hero-content-pad {
					padding-top: 3em;
					position: relative;
					width: 100%;
				}

					.hero-content-snipe {
						position: absolute;
						left: 5%;
						top: 3.5em;
						z-index: 9999;
						height: 5em;
						width: 5em;
						background-size: auto 100%;
						background-repeat: no-repeat;
						background-position: left;
					}

				.hero-content-innerpad {
					padding-left: 12%;
					padding-right: 3em;
					padding-bottom: 3em;
					width: 65.5%;
					position: relative;

					img {
						height: 1.5em;
					}

					h1{
						font-size: 2em;
						font-weight: bold;
						margin-bottom: .75em;
						text-transform: uppercase;
						font-family: $headline-font;

						span {
							font-family: 'headlinefont-it';
						}
					}

					p {
						line-height: 1.25;
						margin-bottom: .5em;
						text-align: justify;
					}

					p:last-of-type {
						margin-bottom: 0em;
					}

						@media screen and (min-width: 3000px){
							width: 80%
						}

						@media screen and (min-width: 4000px){
							width: 90%
						}

						@media screen and (min-width: 4500px){
							width: 100%
						}
				}

					.hero-content-bg {
						position: absolute;
						left: -8em;
						top: -4em;
						background-image: url('assets/images/hero-content-bg.png');
						background-size: contain;
						width: 14em;
						height: 14em;
					}

			.hero-underbar {
				width: 100%;
				height: 2em;
				position: absolute;
				left: 0;
				bottom: -2em;
				background: linear-gradient(to right, $white 64%, transparent 36%); 
			}

	.hero-transparent {
		.hero-container {
			background: transparent;
			color: $white;
			@include texthaze($black);
		}

		.hero-underbar {
			background: transparent;
		}
	}

	.doubleside {
		width: 100%;
		background-color: yellow;
		background: linear-gradient(to left, $blue 39%, transparent 36%); 
	}

		.col-content {
			width: 100%;
			height: auto;
			padding: 0 5%;
			display: flex;
		}

			.col-content-one{
				width: 12%;
				float: left;
				position: relative;
				padding-top: 4em;

				span {
					font-family: $headline-font;
					font-size: 3em;
					line-height: .65;
					color: $blue;
					color: rgba($darkblue, .5);
				}
			}

				.col-content-burst-snipe {
					position: absolute;
					left: -8em;
					top: -6em;
					background-image: url('assets/images/hero-content-bg.png');
					background-size: contain;
					width: 14em;
					height: 14em;
					z-index: -1;
				}

			.col-content-two {
				width: 50.25%;
				padding-right: 7.5%;
				padding-top: 4em;
				float: left;
			}

			.col-content-three {
				width: 37.75%;
				padding-top: 4em;
				padding-left: 5%;
				float: left;
				background-color: $blue;
			}

				.col-content-two,
				.col-content-three {
					padding-bottom: 3em;

					.header {
						font-family: $headline-font;
						font-size: 1.5em;
						text-transform: uppercase;
						display: inline-block;
						padding-bottom: .5em;
						margin-bottom: 1em;
						border-bottom: 1px solid $black;
					}

					p {
						margin-bottom: 1.5em;
					}

					p:last-of-type {
						margin-bottom: 0;
					}
				}

					.col-content-three {
						.header {
							color: $lightblue;
							border-color: $lightblue;
						}
					}

			.col-post-wrapper {
				width: 100%;
				display: flex;
				margin-bottom: 2em;
			}

				.col-post-date {
					margin-right: 2em;
				}

					.col-post-date-wrapper {
						border: 1px solid $lightblue;
						border-radius: .25em;
						font-family: monospace;
					}

						.col-post-date-top {
							-webkit-border-top-left-radius: .25em;
							-webkit-border-top-right-radius: .25em;
							-moz-border-radius-topleft: .25em;
							-moz-border-radius-topright: .25em;
							border-top-left-radius: .25em;
							border-top-right-radius: .25em;
						}

						.col-post-date-mid {
							padding: .35em .5em;
							font-size: 1.25em;
							color: $lightblue;
							text-align: center;
						}

						.col-post-date-bottom {
							text-align: center;
							-webkit-border-bottom-right-radius: .25em;
							-webkit-border-bottom-left-radius: .25em;
							-moz-border-radius-bottomright: .25em;
							-moz-border-radius-bottomleft: .25em;
							border-bottom-right-radius: .25em;
							border-bottom-left-radius: .25em;
						}

							.col-post-date-top,
							.col-post-date-bottom {
								text-align: center;
								background-color: $lightblue;
								font-size: .75em;
								padding: .15em 0;
								color: $blue;
								text-transform: lowercase;
								font-variant: small-caps;
							}

				.col-post-content {
					flex: 1;

					a:first-of-type {
						font-weight: bold;
					}

					a:last-of-type {
						text-decoration: none;
						font-weight: bold;
					}
				}

	.front-right-pic {
		background-image: url('assets/images/stripe.png');
		position: relative;
		padding: 0;
		overflow-x: visible;
	}

		.front-right-pic-inner {
			width: 115%;
			height: 100%;
			background-image: url('assets/images/front-right-pic-inner.jpg');
			background-size: cover;
		}

			.front-right-pic-inner-overlay {
				width: 100%;
				height: 100%;
				background-color: rgba($blue, .25);
			}

	.front-services-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 2em;
	}

		.front-services-cell {
			width: 33%;
			text-align: center;

			&:hover {
				color: orange;
			}
		}

			.front-services-icon {
				width: 100%;
				height: 4em;
				margin-bottom: 1em;
				background-size: auto 200%;
				background-repeat: no-repeat;
				background-position: center top;
			}

			.front-services-recording {
				background-image: url('assets/images/front-services-recording.png');
			}

			.front-services-mixing {
				background-image: url('assets/images/front-services-mixing.png');
			}

			.front-services-consulting {
				background-image: url('assets/images/front-services-consulting.png');
			}

			.front-services-pics {
				background-image: url('assets/images/front-services-pics.png');
			}

			.front-services-gear {
				background-image: url('assets/images/front-services-gear.png');
			}

			.front-services-blog {
				background-image: url('assets/images/front-services-blog.png');
			}

			.front-services-cell {
				&:hover {
					.front-services-icon {
						background-position: center bottom;
					}

					.noline {
						text-decoration: underline;
					}
				}
			}









