@import "vars";
@import "mixins";

@media screen and (max-width: 1125px){

	.col-content-burst-snipe-inner {
		//padding-right: 1em;
	}

} //1125

@media screen and (max-width: 900px){

	.hero-col-content-one {
		display: none;
	}

		.hero-col-content-two {
			width: 62.25%;
		}

		.hero-burst {
			display: none;
		}

		.hero-snipe {
			width: 5em;
			height: 5em;
			left: 0;
			background-color: $orange;
			top: -3em;
			background-size: auto 50%;
			background-position: center center;
			border-radius: 50%;
		}

	.col-content-one {
		display: none;
	}

	.col-content-two {
		width: 50.25% + 12%;
	}

	.studio-padding {
		padding-left: 5%;
		padding-right: 5%;
	}

} //900

@media screen and (max-width: 775px){

	.hero-col-content-two {
		width: 95%;
		padding-right: 5%;
		padding-top: 2em;

		&:after {
			background-color: transparent;
		}
	}

		.hero-snipe {
			width: 4em;
			height: 4em;
			top: -2.75em;
		}

	.landing-bars {
		top: 0;
	}

	.doubleside {
		background: transparent;
	}

	.col-content {
		flex-direction: column;
	}

	.col-content-two {
		width: 100%;
		padding-right: 0;
	}

	.col-content-three {
		width: 100%;
		padding-right: 5%;
		border-radius: 1em;
		@include divshadow;
		margin-bottom: 3em;
	}

		.front-right-pic {
			display: none;
		}

	.footer-logo {
		width: 100%;

		img {
			margin: 0 auto;
		}
	}

	.footer-left-content {
		width: 100%;
		text-align: center;
		margin-top: 1.5em;
	}

		.footer-copy {
			width: 100%;
		}

		.footer-mail {
			display: none;
		}

	.footer-right-content {
		width: 100%;
		text-align: center;
		margin-top: 1.5em;
	}

} // 775

@media screen and (max-width: 650px){

	.studio-pic {
		width: 49%;
	}

	.studio-pic-text {
		width: 100%;
	}

} // 650

@media screen and (min-width: 1800px){

	.contact-side {
		width: 320%;
		width: 50vw;
	}

}