@import "vars";
@import "mixins";

@media screen and (max-width: 1125px){

	.hero-content-bg {
		width: 95%;
	}

	.hero-content-inner {
		width: 95%;
		padding-right: 0;
	}

} //125

@media screen and (max-width: 900px){

	.hero-content-inner {
		padding-left: 5%;
	}

	.hero-content-inner-pad {
		padding-left: 0;
	}

} //900