@import "vars";
@import "mixins";

.newnav {
	width: 100%;
	padding-top: $nav-top-gap;
	position: relative;
	padding-bottom: $nav-top-gap;
}

	.nav-container {
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 9999;
	}

		nav {
			padding: 0 5%;
		}

			.nav-inner {
				width: 100%;
			}

				.nav-logo {
					width: 12%;
					float: left;
					height: $nav-height;
					position: relative;

					&:after {
						content: "";
						position: absolute;
						right: 1px;
						top: 0;
						bottom: 0;
						background-color: rgba($white, .5);
						width: 1px;
					}
				}

					.nav-logo-text {
						position: absolute;
						width: 70%;
						height: $nav-height + 2em;
						left: -3em;
						left: -4.5vw;
						top: -1em;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						opacity: 0.5;
					}

						.nav-logo-text-row {
							display: flex;
							justify-content: space-between;
							font-size: .75em;
							@include texthaze($black);
						}

					.nav-logo-inner {
						width: 100%;
						height: 100%;
						position: absolute;
						background-size: auto 100%;
						background-repeat: no-repeat;
						background-position: center left;
					}

				.nav-links {
					height: 100%;
					float: left;
				}

					.machine-gun-menu{
						@include texthaze($black);

						.menu-aligner{
							height: $nav-height;
							display: table;
							float: left;
						}

						li{
							list-style: none;
							display: table-cell;
							vertical-align: middle;
							height: 100%;
							padding-right: 1.5em;

							a {
								text-decoration: none;
								color: $white;

								&:hover {
									color: $orange;
									@include fader;
								}
							}
						}

						li:first-of-type {
							padding-left: 2em;
						}

						li:last-of-type {
							padding-right: 0;
						}
					}

				.nav-contact {
					width: 12%;
					float: right;
				}


					.nav-contact {
						float: right;
						width: 15%;
						height: $nav-height;
						display: table;
					}

						.nav-contact-align {
							width: 100%;
							height: 100%;
							display: table-cell;
							vertical-align: middle;
							text-align: center;

							$contact-snipe-pad: 1.5em;

							a {
								width: 100%;
								color: $orange;
								background-color: rgba($darkblue, .3);
								border: 1px solid $orange;
								display: inline-block;
								text-decoration: none;
								padding: .25em 0;
								@include divshadow($darkblue);
								position: relative;
								padding-right: $contact-snipe-pad;
								border-radius: .25em;
								@include texthaze($black);

								&:after{
									content: "";
									position: absolute;
									right: 0;
									top: 0;
									bottom: 0;
									width: $contact-snipe-pad;
									background-color: $orange;
									background-size: 1em auto;
									background-position: center center;
									background-repeat: no-repeat;
									background-image: url('assets/images/nav-contact-align.png');
									border-top-right-radius: .2em;
									border-bottom-right-radius: .2em;
									border: 1px solid $orange;
								}

								&:hover {
									background-color: $orange;
									color: $white;
									@include fader;
								}
							}
						}

	.nav-mobile-button {
		display: none;
	}

.nav-blocker {
	width: 100%;
	height: $nav-height + $nav-top-gap;
}

// mobile

@media screen and (max-width: 900px){

	.nav-logo-inner {
		background-size: auto 90%;
	}

	.nav-contact {
		width: 18%;
	}

}

@media screen and (max-width: 800px){

	.nav-logo-inner {
		background-size: auto 80%;
	}

} // 800

@media screen and (max-width: 775px){

	.newnav {
		background-image: url('assets/images/nav.png');
		background-position: right bottom;
		background-repeat:  no-repeat;
		background-size: contain;
	}

	.nav-logo {
		width: 50%;

		&:after {
			content: "Machine Gun Studios";
			top: 100%;
			left: 0;
			width: 200%;
			text-transform: lowercase;
			font-variant: small-caps;
			padding-top: .25em;
			background-color: transparent;
		}
	}

		.nav-logo-inner {
			background-size: auto 100%;
		}

	.nav-links {
		display: none;
	}

	.nav-contact {
		display: none;
	}

	.nav-mobile-button {
		display: inline-block;
		@include vertical_gradient($white);
		float: right;
		width: $nav-height;
		height: $nav-height;
		border-radius: .25em;
		@include divshadow($black);
		position: relative;
		background-image: url('assets/images/nav-mobile-button.png');
		background-size: 50% auto;
		background-position: center center;
		background-repeat: no-repeat;

		&:before {
			content: "menu";
			position: absolute;
			color: $orange;
			left: 0;
			right: 0;
			top: 100%;
			padding-top: .25em;
			text-align: center;
			font-variant: small-caps;
			@include texthaze(black);
		}
	}

}
