@import "vars";
@import "mixins";

nav {
	background-color: $red;
}

.machine-gun-menu{
	z-index: 9999;

	li{
		list-style: none;
		background-color: lightgreen;
		display: table-cell;
		vertical-align: middle;
		height: 100px;
	}
}