$black: #0c1f2d;
$white: #f3ffe2;
$grey: grey;
$red: red;
$green: green;
$darkblue: #225378;
$blue: #2d6ea0;
$lightblue: #ACF0F2;
$contactblue: #28618c;
$footerbg: #0c1f2d;
$footerblue: #3e586b;
$orange: #EB7F00;
$yellow: yellow;
$pink: pink;

///

$nav-height: 3em;
$nav-top-gap: 2em;

$body_background_color: $white;
$body_background_image: url('assets/images/stripe.png');

$headline-font: "headlinefont", Gadget, sans-serif;
$headline-weight: 700;

$body-font: "bodyfont", Arial, Helvetica, sans-serif;
$body-weight: 300;
$body-text-color: $black;
